/* common styling */
html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.container {
    width: 90% !important;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group .control-label/*, .form-group .help-block*/ {
    height: 34px;
    line-height: 34px;
}

/* yii elements styles */
.summary {
    line-height: 38px;
}
.pagination {
    margin: 0;
}
.pagination li span {
    border: none;
}
.pagination li a, .pagination li span {
    border: none;
    color: #999 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination li.active a, .pagination li.active span {
    background: none;
    border-bottom: 1px solid #bbb !important;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
}
.pagination li.active a:hover, .pagination li.active a:focus {
    background: #eee !important;
}

/* advert form */
.advert-form .files-list {
    height: 170px;
    padding: 10px 0;
    background: #eee;
}
.advert-form .file-container {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
.advert-form .file-container img {
    height: 150px;
}
.advert-form .file-container .file-delete, .advert-form .file-container .file-deleting {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    font-size: 28px;
    text-align: center;
}
.advert-form .file-container .file-deleting {
    line-height: 32px;
}
.advert-form .file-container:hover .file-delete.visible {
    display: block;
}
.advert-form .files-list .files-empty {
    text-align: center;
    line-height: 150px;
}
.advert-form .files-progressbar {
    margin: 0;
    height: 3px;
    border: none;
}
.advert-form .file-uploaded-success, .file-uploaded-fail {
    display: none;
}
.advert-form .file-uploaded-success {
    color: #5cb85c;
}
.advert-form .file-uploaded-fail {
    color: #d9534f;
}

/* adverts list styling s*/
.adverts-list .items {

}
.adverts-list {

}
.adverts-list .advert-container {
    margin: 0 0 30px 0;
    padding: 15px 10px;
}
.adverts-list .advert-container:hover {
    //cursor: pointer;
    background: #f8f8f8;
}
.adverts-list .advert-container:last-child {
    border-bottom: none;
}
.adverts-list img {
    float: left;
    width: 48px;
    margin-right: 10px;
}

.adverts-list .advert-container a.content {
    display: block;
    text-indent: 12px;
    color: #555;
}
.adverts-list .advert-container a.user-fullname {
    color: #2a5885;
}
.adverts-list .advert-container a.content:hover {
    text-decoration: none;
    background: none;
}
.adverts-list .advert-container .info, .adverts-list .advert-container .actions {
    font-weight: bold;
    font-size: 13px;
    line-height: 2em;
    color: #777;
}
.adverts-list .actions span {
    padding: 2px 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;;
    -webkit-border-radius: 4px;
    color: #888;
}
.adverts-list .actions .active {
    color: #00aa00;
}
.adverts-list .actions .like-button:hover, .adverts-list .actions .bookmark-button:hover {
    background: #ddd;
    cursor: pointer;
}
.adverts-list .actions a:hover, .adverts-list .actions a:focus {
    text-decoration: none;
}

/* advert list filter */
@media (min-width: 768px) and (max-width: 991px) {
    .adverts-list-container .left {
        position: fixed;
        width: 30%;
    }
    .adverts-list-container .right {
        width: 66.66%;
        margin-left: 33.33%;
    }
}
@media (min-width: 992px) {
    .adverts-list-container .left {
        position: fixed;
        width: 18%;
    }
    .adverts-list-container .right {
        width: 80%;
        margin-left: 20%;
    }
}

/* social icons */
.icon {
    display: inline-block;
    padding: 0;
    width: 20px;
    height: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon.facebook,
.icon.google,
.icon.mailru,
.icon.odnoklassniki,
.icon.twitter,
.icon.vkontakte {
    background-image: url('/../img/social-icons.png');
    background-size: auto;
}
.icon.facebook {
    background-position: 0 0;
}
.icon.google {
    background-position: -126px 0;
}
.icon.mailru {
    background-position: -147px 0;
}
.icon.odnoklassniki {
    background-position: -63px 0;
}
.icon.twitter {
    background-position: -21px 0;
}
.icon.vkontakte {
    background-position: -84px 0;
}