/* common styling */
html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* bootstrap */
.form-group .control-label/*, .form-group .help-block*/ {
    height: 34px;
    line-height: 34px;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-15 {
    margin-top:15px !important;
}
.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}
.mt-40 {
    margin-top: 40px !important;
}

/* yii elements styles */
.summary {
    padding: 0 0 15px 0;
}


/* advert form */
.files-container {
    height: 220px;
    padding: 10px 0;
    background: #eee;
}
.file-container {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
.file-container img {
    height: 200px;
}
.file-container .file-delete {
    position: absolute;
    right: 0;
    top: 0;
    height: 32px;
    color: #fff;
    background-color: rgba(100, 100, 100, 255);
    font-size: 2em;
}
.file-container .file-delete {

}
.files-progressbar {
    margin: 0;
    height: 3px;
}

/* adverts list styling s*/
.adverts-list {

}
.adverts-list .container {
    position: relative;
    float: left;
    padding: 10px;
    width: 50%;
    height: 300px;
    //border-bottom: 1px solid #ccc;
    text-align: justify;
}
.adverts-list .container:hover {
    background: #f8f8f8;
}
.container:last-child {
    border-bottom: none;
}
.container:hover {
    cursor: pointer;
}
.container /*.left*/ img {
    float: left;
//width: 60px;
}
.container .right {
//float: right;
//width: 620px;
}
.container a.content {
    display: block;
    text-indent: 12px;
    color: #555;
}
.container a.content:hover {
    background: none;
}
.adverts-list .container .info {
    position: absolute;
    bottom: 0;
}
/*.adverts-list .container .actions {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}*/
.adverts-list .container .info span, .info a span {
    font-size: 11px !important;
    font-weight: bold;
    color: #999;
    vertical-align: middle;
}
.container .info .actions a {
    padding: 2px 5px;
}
.bookmarked .icon.star {
    background-image: url('/../img/star-green.png') !important;
}

/* social icons */
.icon {
    display: inline-block;
    padding: 0;
    width: 20px;
    height: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon.facebook,
.icon.google,
.icon.mailru,
.icon.odnoklassniki,
.icon.twitter,
.icon.vkontakte {
    background-image: url('/../img/social-icons.png');
    background-size: auto;
}
.icon.facebook {
    background-position: 0 0;
}
.icon.google {
    background-position: -126px 0;
}
.icon.mailru {
    background-position: -147px 0;
}
.icon.odnoklassniki {
    background-position: -63px 0;
}
.icon.twitter {
    background-position: -21px 0;
}
.icon.vkontakte {
    background-position: -84px 0;
}